<div class="employee-card">
    <div class="card-content">
        <div class="employee-detail">
            <label>First Name:</label>
            <p>{{ employee?.firstName }}</p>
        </div>
        <div class="employee-detail">
            <label>Last Name:</label>
            <p>{{ employee?.lastName }}</p>
        </div>
        <div class="employee-detail">
            <label>Email:</label>
            <p>{{ employee?.emailId }}</p>
        </div>
        <button class="back-button" type="button" (click)="backPage()">BACK</button>
    </div>
</div>
