.custom-navbar {
    background: linear-gradient(45deg, #000000, #787878);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
    box-shadow: 0 4px 2px -2px gray;
    position:sticky; /* Make navbar fixed at the top */
    top: 0; /* Stick to the top of the screen */
    width: 100%; /* Full-width navbar */
    z-index: 1000; /* Ensure navbar stays above other content */
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.custom-navbar .nav-link {
    color: #ffffff !important;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.custom-navbar .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    bottom: 0;
    left: -100%;
    transition: left 0.3s ease-in-out;
}

.custom-navbar .nav-link:hover::before {
    left: 0;
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position:-webkit-sticky;
    width: 100%;
    bottom: 0;
}

.custom-navbar .navbar-brand {
    margin-right: 4%; /* Optional: Adjust spacing as needed */
}

.custom-navbar .navbar-brand:last-child {
    margin-right: 100%; /* Remove margin from the last item */
}
